@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'icon-dukamarket';
        src: url('/icon-dukamarket.eot');
        src: url('/icon-dukamarket.eot#iefix') format('embedded-opentype'),url('/icon-dukamarket.ttf') format('truetype'),url('/icon-dukamarket.woff') format('woff'),url('/icon-dukamarket.svg#icon-dukamarket') format('svg');
        font-weight: 400;
        font-style: normal;
        font-display: block
    }
    @font-face {
        font-family: 'icons-blank-theme';
        src: url('/Blank-Theme-Icons.woff2') format('woff2'),url('/Blank-Theme-Icons.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: block
    }
    body {
        @apply font-text;
    }
    h1,h2,h3,h4,h5,h6 {
        @apply font-heading;
    }
}